
			body{
				margin: 0px;
				background-image: url("../img/direita.jpg");
				background-repeat:no-repeat;
				background-size:cover;
				background-position:center center;
				background-attachment: fixed;
				color: black;
				font: verdana;
			}
			
			#menu ul{
				padding: 0px;
				margin: 0px;
				list-style: none;
				background-color: #F5F5F5;
			}
			#menu ul li{
				display: inline;
			}
			
			#menu ul li a {
				padding: 2px 10px;
				display: inline-block;
			 
				background-color:#FFFFFF;
				color: #333;
				text-decoration: none;
				border-bottom:3px solid #EDEDED;
			}
			
			#menu ul li a:hover {
				background-color:#FF7256;
				color: #FFFFFF;
				font-weight: bold;
				border-bottom:3px solid #EA0000;
			}
			
			.busca{
				padding: 2px 10px;
				position: fixed; right: 3;
			}
			
			#centro {
			    border-radius: 50px;
			    background-color: #FAFAFA;
			    margin-left: auto;
   			    margin-right: auto;
   			    margin-top: 70px;
   			    text-align: center; 
			    width: 500px;
			    height: 400px;    
			}
			
			.botao{
			 	border-radius: 10px;  
			 	background-color: #FF7256;
			 	border: none;
			}
			
			.entrar{
				width: 100px; 
			 	height: 50px; 
			}
			
			.inputLogin{
				border: none;
				background-color: #FFA07A;
				color: #000000;
				width: 200px; 
			 	height: 30px;
			 	border-radius: 15px;
			}
			
			#cadastro{
				position: fixed;
				top: 20;
				left: 4;
				background-color: #F5F5F5; 
				border-radius: 10px; 
				top: 27px;
			}
			
			#cadastro form{  
				input{
					border-radio: 10px;
				}
			}
			
			table, thead{
				background-color: #A9A9A9;
			}
			table, tr:nth-child(even) {
				    background-color: #FF7256;
				    border-collapse: collapse;
				}
			
			
			input:focus {
				outline: 0;
			    box-shadow: 0 0 2pt 2pt #FF7F00;
			}
			
			::-webkit-input-placeholder {
   				color: #000000;
   				font: 12px verdana;
			}
			
			
#hide {
    display:none;
}
 
.rating input {
    position:absolute;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity:0;
    opacity:0;
    cursor:pointer;
    width:17px;
}
 
.rating span {
    width:24px;
    height:16px;
    line-height:16px;
    padding:1px 22px 1px 0; /* 1px FireFox fix */
    background:url(/img/stars.png) no-repeat -22px 0;
}
 
/* Change span immediately following the checked radio */
 
.rating input:checked + span {
    background-position:-22px 0;
}
 
/* Reset all remaining stars back to default background.
   This supersedes the above due to its ordering. */
 
.rating input:checked + span ~ span {
    background-position:0 0;
}
 
 .jshover {
    background-position:-22px 0 !important;
}

.jshoverNext {
    background-position:0 0 !important;
}
 