<!doctype>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/css/home.css">
		<title>Site Foda de Filmes</title>
	</head>
	<body>
	<script type="text/javascript" src="/script/scriptBusca.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<div id="menu">
		<ul>
			{{>menuNormal}}		
		</ul>
	</div>
		
			
		<ul>
		<h2>Busca de Filmes: {{busca}}</h2>
			{{>tabela}}
		</ul>
		<script>
			$('.rating input[type="radio"]').hover(function() {
				    $(this).nextAll('span').removeClass().addClass('jshoverNext');
				    $(this).next('span').removeClass().addClass('jshover');
				    $(this).prevAll('span').removeClass().addClass('jshover');
				},function() {
				    $('.rating input[type="radio"] + span').removeClass();
				});
			$(document).ready(function(){ 
				getAvaliacoes();
				getMedias();
			 });
		</script>
	</body>
</html>