<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/css/home.css">
		<title>Site Foda de Filmes</title>
	</head>
	<body>
		<div id="menu">
			<ul>
				{{>menuAdm}}
		  	</ul>
		</div>
		
		<ul>
		<h2>Busca Administrativa de Filmes: {{busca}}</h2>
		<table cellpadding="15" border="0" style="background-color: #FAFAFA;text-align: center;">
			<thead>
				<th>ID do Filme</th>
				<th>Nome</th>
				<th>Genero</th>	
				<th>Ano de Lançamento</th>	
				<th>Manutenção</th>			
			</thead>
			<tbody>
				{{#filmes}}
				<tr>
					<td>{{idFilme}}</td>
					<td>{{nome}}</td>
					<td>{{genero.descricao}}</td>
					<td>{{ano_lancamento}}</td>
					<td><a name="exc" href="/excluirFilme?idFilme={{idFilme}}">Excluir</a></td>
				</tr>
				{{/filmes}}
			</tbody>			
		</table>
	</ul>	
	</body>
</html>