<html>
	<head>
		<meta charset="utf-8">
		<script src="../css/bootstrap-theme.min.css"></script>
		<title>Cadastro de Filmes</title>
		
		<style>
			.tabela{
				position: absolute;
    			top: 0;
    			right: 3;
			}
			
			.fundo{
				background-color: black;
			}
			
			.font{
				color: white;
			}
			
		</style>
	</head>
	<body>
		<h1>Cadastro de Filmes
		
		<h3>Preencha o formulário para cadastrar um filme</h3>
		<br>
		<h3 style="color:red">{{mensagem}}</h3>
		<br>
		<div  style="float: center;">
			<form action="/salvar" method="post">
				<b>
					<div style="height: 50px;">
					<input name="nome" placeholder="Nome do Filme">
					</div>
					
					<div style="height: 50px;">
					<select name="genero">
					    <option value="COMEDIA">Genero</option>
						{{#generos}}
						<option value="{{.}}">{{descricao}}</option>
						{{/generos}}
					</select>
					</div>
					
					<div style="height: 50px;">
					<input name="ano" type="number" value="2015" placeholder="Ano de Lançamento">
					</div>
					
					<div style="height: 50px;">
					<input name="sinopse" placeholder="Sinopse">
					</div>
					
					<div style="height: 50px;">
					<input name="imagem" placeholder="URL da imagem do Filme:" >
					</div>
					
					<div style="height: 50px;">
					<button>Salvar</button>
					</div>
				</b>
			</form>	
		<div>
		<ul class="tabela">
			<h2>Filmes:</h2>
			<table cellpadding="15" border="2" style="border-collapse: collapse; text-align: center;">
				<thead>
					<th>ID do Filme</th>
					<th>Nome</th>
					<th>Genero</th>	
					<th>Ano de Lançamento</th>			
				</thead>
				<tbody>
					{{#filmes}}
					<tr>
						<td>{{idFilme}}</td>
						<td>{{nome}}</td>
						<td>{{genero.descricao}}</td>
						<td>{{ano_lancamento}}</td>
					</tr>
					{{/filmes}}
				</tbody>			
			</table>
		</ul>
		
		<script>
		</script>
		
	</body>
</html>