<html>
	<head>
		<meta charset="utf-8">
		<title>Cadastro de Filmes</title>
		
		<style>
			.tabela{
				position: absolute;
    			top: 0;
    			right: 3;
			}
		</style>
	</head>
	<body>
		<h1>Cadastro de Filmes
		<h3>{{mensagem}}</h3>
		
		<form action="/salvar" method="post">
				<div style="height: 50px;">
				<label>Nome:</label>
				<input name="nome">
				</div>
				
				<div style="height: 50px;">
				<label>Genero:</label>
				<select name="genero">
					{{#generos}}
					<option value="{{.}}">{{descricao}}</option>
					{{/generos}}
				</select>
				</div>
				
				<div style="height: 50px;">
				<label>Ano de Lançamento:</label>
				<input name="ano" type="number" value="2015">
				</div>
				
				<div style="height: 50px;">
				<label>Sinopse:</label>
				<input name="sinopse">
				</div>
				
				<div style="height: 50px;">
				<label>Imagem do Filme:</label>
				<input name="imagem">
				</div>
				
				<div style="height: 50px;">
				<button>Salvar</button>
				</div>
		</form>	
			
		<ul class="tabela">
			<h2>Filmes:</h2>
			<table cellpadding="15" border="2" style="border-collapse: collapse; text-align: center;">
				<thead>
					<th>ID do Filme</th>
					<th>Nome</th>
					<th>Genero</th>	
					<th>Ano de Lançamento</th>			
				</thead>
				<tbody>
					{{#filmes}}
					<tr>
						<td>{{idFilme}}</td>
						<td>{{nome}}</td>
						<td>{{genero.descricao}}</td>
						<td>{{ano_lancamento}}</td>
					</tr>
					{{/filmes}}
				</tbody>			
			</table>
		</ul>
		
		<script>
		</script>
		
	</body>
</html>