<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/home.css">
		<title>Site Foda de Filmes</title>
	</head>
	<body>
	<div id="menu">
		<ul>
			<li>
				<form action="/busca" method="GET" class="busca">
					<input placeholder="Busque seu filme">
					<button>Buscar</button>
				</form>
			</li>
			<li><a href="/filmes">Lista de Filmes</a></li>
			<li><a href="/cadastro">Área Administrativa</a></li>
		</ul>
	</div>
		
		<div id="centro">
			
			<h1>Banco de Filmes Online<h1>
			<br>
			<h3>Seja bem-vindo!</h3>
			<h4>Por favor, selecione uma das opções no menu superior para iniciar sua navegaçaõ</h4>
			
		</div>
		
	</body>
</html>