<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/css/home.css">
		<title>Site Foda de Filmes</title>
	</head>
	<body>		
		<div id="centro">
			
			<h1>Filmator-Web<h1>
			<h3>Seja bem-vindo!</h3>
			<br>
			<h3 style="color:red">{{mensagem}}</h3>
			<form action="/logar" method="POST">
				<input name="usuario" placeholder="Usuário" class="inputLogin"><br><br>
				<input type="password" name="senha" placeholder="Senha" class="inputLogin"><br><br>
				<button class="botao entrar"><b>Entrar</b></button><br><br>
				<a href="/cadastroUsuario">Cadastre-se agora!</a>
			</form>
			
		</div>
		
	</body>
</html>