<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/css/home.css">
		<title>Login</title>
	</head>
	<body>
		<div id="menu">
			<ul>
				{{>menu}}
		  	</ul>
		</div>
		<div id="centro">
			
			<h1>Filmator-Web<h1>
			<h3>Login para área Administrativa</h3>
			<br>
			<form action="/logar" method="POST">
				<input name="usuario" placeholder="Usuário" class="inputLogin"><br><br>
				<input name="senha" type="password" placeholder="Senha" class="inputLogin"><br><br>
				<button class="botao entrar"><b>Entrar</b></button><br><br>				
			</form>
			
		</div>
	</body>
</html>