<table cellpadding="15" border="0" style="background-color: #FAFAFA;text-align: center;  margin-left: auto;
   			    margin-right: auto;">
	<thead>			
	</thead>
	<tbody>
		{{#filmes}}
		<tr>
			<td><img id="{{idFilme}}" src="{{imagem}}" height="400px" width="300px"><img></td>
			<td style="text-align: left;">
				<h2>{{nome}}<br></h2>
				<b>Genero:</b> {{genero.descricao}}<br>
				<b>Ano:</b> {{ano_lancamento}}<br>
				<br>
				<b>Sinopse:</b> <div style="height: 150px; width: 400px;">{{sinopse}}</div><br>
				<b>Nota: </b>
				<form id="rate">
					1:<input id="nota1_{{idFilme}}" type="checkbox" name="rating" value=1 onclick="desmarcar(this, {{idFilme}})">
					2:<input id="nota2_{{idFilme}}" type="checkbox" name="rating" value=2 onclick="desmarcar(this, {{idFilme}})">
					3:<input id="nota3_{{idFilme}}" type="checkbox" name="rating" value=3 onclick="desmarcar(this, {{idFilme}})">
					4:<input id="nota4_{{idFilme}}" type="checkbox" name="rating" value=4 onclick="desmarcar(this, {{idFilme}})">
					5:<input id="nota5_{{idFilme}}" type="checkbox" name="rating" value=5 onclick="desmarcar(this, {{idFilme}})">
				</form>
				<b>Média:</b>
				<div id="media{{idFilme}}"></div>
			</td>		
		</tr>	
		{{/filmes}}
	</tbody>			
</table>