<table cellpadding="15" border="0" style="background-color: #FAFAFA;text-align: center;  margin-left: auto;
   			    margin-right: auto;">
	<thead>			
	</thead>
	<tbody>
		{{#filmes}}
		<tr>
			<td><img id="{{idFilme}}" src="{{imagem}}" height="400px" width="300px"><img></td>
			<td style="text-align: left;">
				<h2>{{nome}}<br></h2>
				<b>Genero:</b> {{genero.descricao}}<br>
				<b>Ano:</b> {{ano_lancamento}}<br>
				<br>
				<b>Sinopse:</b> <div style="height: 150px; width: 400px;">{{sinopse}}</div><br>
				<b>Nota: </b>
				<div id="rate{{idFilme}}" class="rating">
					<input id="nota0_{{idFilme}}" type="radio" name="rating{{idFilme}}" value=0 checked/><span id="hide"></span>
					<input id="nota1_{{idFilme}}" type="radio" name="rating{{idFilme}}" value=1 onclick="postarAvaliacao(this, {{idFilme}})"><span></span>
					<input id="nota2_{{idFilme}}" type="radio" name="rating{{idFilme}}" value=2 onclick="postarAvaliacao(this, {{idFilme}})"><span></span>
					<input id="nota3_{{idFilme}}" type="radio" name="rating{{idFilme}}" value=3 onclick="postarAvaliacao(this, {{idFilme}})"><span></span>
					<input id="nota4_{{idFilme}}" type="radio" name="rating{{idFilme}}" value=4 onclick="postarAvaliacao(this, {{idFilme}})"><span></span>
					<input id="nota5_{{idFilme}}" type="radio" name="rating{{idFilme}}" value=5 onclick="postarAvaliacao(this, {{idFilme}})"><span></span>
				</div>	
				<b>Média:</b>
				<div id="media{{idFilme}}"></div>
			</td>		
		</tr>	
		{{/filmes}}
	</tbody>		
</table>